{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Password Change Done
{% endblock title %}


{% block content %}
<div class="container">
    {% if messages %}
    <div id="message-container">
        <ul>
            {% for message in messages %}
            <li class="alert alert-{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <article class="form form-decision">
        <h2>Password change successful</h2>

        <p>
            Your password was changed.
        </p>
    </article>
</div>

{% endblock content %}