{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Reset Password
{% endblock title %}


{% block content %}
<div class="container">
    {% if messages %}
    <div id="message-container">
        <ul>
            {% for message in messages %}
            <li class="alert alert-{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <article class="form">
        <h2>Password Reset</h2>
        <form method="post" action="">
            {% csrf_token %}

            <p class="input-main">
                <label for="{{ form.email.id_for_label }}">{{form.email.label}}</label>
                {{form.email}}
                {{form.email.errors}}
            </p>

            <div class="float-right">
                <a class="btn btn-danger link-btn" href="{% url 'auth:login' %}">Cancel</a>
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>           
        </form>
    </article>
</div>
{% endblock content %}