{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Create Profile
{% endblock title %}


{% block content %}
<div class="container">
    {% include 'core/partials/_message_notification.html' %}
    <article class="form">
        
        <h2>Profile</h2>
        <hr/>
        
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            
            <p class="input-main">
                <label for="{{ address.apartment.id_for_label }}">{{address.apartment.label}}</label>
                {{address.apartment}}
                {{address.apartment.errors}}
            </p>
            <p class="input-main">
                <label for="{{ address.building.id_for_label }}">{{address.building.label}}</label>
                {{address.building}}
                {{address.building.errors}}
            </p>
            <p class="input-main">
                <label for="{{ address.street.id_for_label }}">{{address.street.label}}</label>
                {{address.street}}
                {{address.street.errors}}
            </p>
            <p class="input-main">
                <label for="{{ address.district.id_for_label }}">{{address.district.label}}</label>
                {{address.district}}
                {{address.district.errors}}
            </p>
            <p class="input-main">
                <label for="{{ address.city.id_for_label }}">{{address.city.label}}</label>
                {{address.city}}
                {{address.city.errors}}
            </p>
            <p class="input-main">
                <label for="{{ address.country.id_for_label }}">{{address.country.label}}</label>
                {{address.country}}
                {{address.country.errors}}
            </p>
            <p class="input-main">
                <label for="{{ address.zip.id_for_label }}">{{address.zip.label}}</label>
                {{address.zip}}
                {{address.zip.errors}}
            </p>
            <p class="input-main">
                <label for="{{ profile.birthday.id_for_label }}">{{profile.birthday.label}}</label>
                {{profile.birthday}}
                {{profile.birthday.errors}}
            </p>
            <p class="input-main">
                <label for="{{ profile.phone_number.id_for_label }}">{{profile.phone_number.label}}</label>
                {{profile.phone_number}}
                {{profile.phone_number.errors}}
            </p>
            <p class="input-main">
                <label for="{{ profile.image.id_for_label }}">{{profile.image.label}}</label>
                <br>
                {{profile.image}}
                {{profile.image.errors}}
            </p>
            <a class="btn link-btn btn-info" href="{% url 'auth:password_change' %}">Edit Password</a>

            <div class="float-right">
                <button class="btn btn-danger link-btn" type="reset">Clear</button>
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </form>
    </article>
</div>
{% endblock content %}