{% extends 'core/base.html' %}
{% load static %}


{% block title %}
Create Category
{% endblock title %}


{% block content %}
<div class="container">
    {% include './partials/_message_notification.html' %}
    <article class="form">
        <h2>Create Category</h2>
        <hr />

        <form method="post" action="">
            {% csrf_token %}
            

            <p class="input-main">
                <label for="{{ form.name.id_for_label }}">{{form.name.label}}</label>
                {{form.name}}
                {{form.name.errors}}
            </p>

            <div class="float-right">
                <a class="btn btn-danger link-btn" href="#">Cancel</a>
                <input class="btn btn-primary" type="submit" value="Add">
            </div>
        </form>
    </article>
</div>
{% endblock content %}