{% extends 'core/base.html' %}
{% load static %}


{% block title %}
Welcome
{% endblock title %}


{% block content %}    
    <div class="container">

        <div class="dropdown">
            <button class="dropbtn" onclick="burger()">Categories</button>
            <ul id="categories-bar" class="categories-bar">
                {% for category in categories %}
                <li><a class="link-btn white" href="{% url 'core:browse' %}?page=1&order_by=last&search=&hot_deals=&category={{ category.id }}">{{category.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        
        {% include './partials/_message_notification.html' %}

        <p><a class="btn link-btn btn-primary" href="{% url 'core:categories' %}">Categories</a></p>

        <article class="related">
            <h3><a class="link-btn black" href="{% url 'core:browse' %}?page=1&order_by=last&search=&hot_deals=on">Hot Deals</a></h3>
            <hr/>
            <section class="products">
                {% for item in items %}
                {% if forloop.counter < 11 %}
                {% if item.discount_price %}
                <div>
                    <a class="link-btn black" href="{% url 'core:product' item.slug %}">
                        <img src="{{ item.image.url }}" alt="{{ item.name }}" />
                        <h4>
                            {% if item.brand %}
                            {{ item.brand }} -
                            {% endif %}
                            {{ item.name }}
                        </h4>
                        <p><span class="green">${{ item.discount_price }}</span> <small><s>${{ item.price }}</s></small></p>
                    </a>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </section>
        </article>
        
        <article class="related">
            <h3><a class="link-btn black" href="{% url 'core:browse' %}?page=1&order_by=last">Latest</a></h3>
            <hr />
            <section class="products">
                {% for item in items %}
                {% if forloop.counter < 11 %} 
                {% if not item.discount_price %} 
                <div>
                    <a class="link-btn black" href="{% url 'core:product' item.slug %}">
                        <img src="{{ item.image.url }}" alt="{{ item.name }}" />
                        <h4>
                            {% if item.brand %}
                            {{ item.brand }} -
                            {% endif %}
                            {{ item.name }}
                        </h4>
                        <p>${{ item.price }}</p>
                    </a>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </section>
        </article>
    </div>
{% endblock content %}
    
    