{% extends 'core/base.html' %}
{% load static %}


{% block title %}
{{object.name}}
{% endblock title %}


{% block content %}
<div class="container">
    {% if messages %}
    <div id="message-container">
        <ul>
            {% for message in messages %}
            <li class="alert alert-{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <article class="form form-decision">
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{ object }}"?</p>
            <div>
                <input class="btn btn-danger" type="submit" value="Confirm">
            </div>

        </form>
    </article>
</div>
{% endblock content %}